.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mainHeading {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
}

.detailRow {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.detailHeading {
  flex: 1;
}

.detailInfo {
  padding-top: 2px;
  flex: 1;
}
