.table {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #b2bbb2;
  color: white;
}

.table td {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.addButton {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  float: right;
}

.mainHeading {
  padding-bottom: 10px;
}
