.modalOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  opacity: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  max-width: 60%;
  flex: 1;
  background-color: #fff;
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.modalButtonContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.modalButton {
  flex: 1;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 5px;
}
